# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../ecommerce\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\pedro\Documents\IdeaProjects\ecommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
